<h1>Angular-Componentes-Reutilizables</h1>
<p>Este ejemplo fue construido usando componentes reutilizables, facilitando el trabajo de codificacion</p>
<p>Este ejemplo usa <code>import &#123; Component, EventEmitter, Input, Output &#125; from '@angular/core'</code></p>

<h2>Componente Reutilizable</h2>

<ul>
  <li>
    <h2>Componente Texto</h2>
    <h3>Code:</h3>
    <code>
      &lt;app-text [nombre]="'nombre de prueba'"&gt;&lt;/app-text&gt;
    </code>
    <h3>Resultado:</h3>
    <app-text [nombre]="'nombre de prueba'"></app-text>
  </li>
  <li>
    <h2>Componente Buton</h2>
    <h3>Code:</h3>
    <code>
      &lt;app-button nombre="{{'nombre de boton'}}" clase="{{'warning'}}"&gt;&lt;/app-button&gt;
    </code>
    <h3>Resultado:</h3>
    <app-button nombre="{{'nombre de boton'}}" clase="{{'warning'}}"></app-button>
  </li>
  <li>
    <h2>Componente Buton</h2>
    <h3>Code:</h3>
    <code>
      &lt;app-button nombre="{{'nombre de boton'}}" clase="{{'success'}}"&gt;&lt;/app-button&gt;
    </code>
    <h3>Resultado:</h3>
    <app-button nombre="{{'nombre de boton'}}" clase="{{'success'}}"></app-button>
  </li>
</ul>




<router-outlet></router-outlet>